{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "project": ["./tsconfig.json"] },
  "plugins": [
    "import",
    "unicorn",
    "eslint-plugin-sort-imports-es6-autofix",
    "@typescript-eslint"
  ],
  "rules": {
    "semi": "error",
    "eol-last": "error",
    "no-trailing-spaces": "error",
    "unicorn/no-unused-properties": "error",
    "sort-imports-es6-autofix/sort-imports-es6": [2, {
      "ignoreCase": true,
      "ignoreMemberSort": true,

      "memberSyntaxSortOrder": ["none", "all", "single", "multiple"]
    }],

    "indent": ["error", 2],
    "quotes": [2, "single"],
    "import/newline-after-import": ["error", { "count": 2 }],
    "max-len": ["error", { "code": 98, "ignoreStrings": true, "ignoreTemplateLiterals": true }],

    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-empty-function": "off",
  }
}
